.App {
  text-align: center;
}
body {
  font-family: "Playwrite DE Grund", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: rgb(201, 200, 185);
  background: radial-gradient(
    circle,
    rgba(201, 200, 185, 1) 0%,
    rgba(90, 76, 66, 1) 100%
  );
}
.navbar {
  background: #c9c8b9;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.navbar-toggler {
  border: none;
}
/* Logout btn */
.logout-btn,
.signin-btn,
.signup-btn,
.submit-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  padding: 0.4em 1.1em 0.4em 1.1em;
  color: white;
  background: #5a4c42;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}
.logout-btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}
/* Add Note btn */

.addNote-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #c9c8b9;
  border: none;

  letter-spacing: 0.05em;
  border-radius: 20em;
}

.addNote-btn svg {
  color: black;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid gray;
}

.addNote-btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.addNote-btn:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* card */

.card {
  border-radius: 0.5rem;
  background: #c9c8b9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.noteItem--btn {
  border: #282c34;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
